header.fixed-header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  left: 0;
  padding-bottom: 0.1875rem;
  img {
    display: none;
  }
  .active,
  .nav-item:hover {
    &::after {
      top: 4rem;
    }
  }
}
header {
  // .container-fluid {
  //   position: fixed;
  //   width: 100%;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: 9999;
  // }
  .navbar {
    padding: initial;
  }
  font-weight: bolder;
  font-size: 0.9rem;
  img.headerbg {
    position: absolute;
  }
  .navbar-collapse {
    flex-grow: initial;
    margin-left: auto;
  }
  .nav-item {
    margin-right: 3.125rem;
  }
  .active,
  .nav-item:hover {
    &::after {
      position: absolute;
      background-color: $color-pink;
      transform: scale(1.1);
      content: " ";
      display: block;
      height: 0.5rem;
      width: 0.5rem;
      top: 5.625rem;
      margin-left: 0.9375rem;
      border-radius: 50%;
    }
  }
  .fab,
  .nav-item {
    &:hover {
      color: $color-pink;
    }
  }
  .tel {
    border-radius: 3.125rem;
    background-color: $color-pink;
    overflow: hidden;
    padding: 1.1em 1.5em;
    margin: 0.375rem;
    span,
    i {
      color: white;
    }
    &:hover {
      span,
      i,
      a {
        text-decoration: none;
        color: $color-pink;
      }
      background-color: white;
      box-shadow: 0 0 0 0.0625rem $color-pink inset;
      -webkit-transition: 300ms ease all;
      -moz-transition: 300ms ease all;
      transition: 300ms ease all;
    }
  }
}
